body {
    background: rgb(255, 255, 255);
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: Arial, sans-serif;
}

#all-contents {
    max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(100, 226, 248);
    margin: 0 auto;
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
}

h1 {
    display: flex;
    align-items: center;
    color: rgb(13, 14, 4);
    flex: 1;
    margin: 0;
}

#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-li {
    display: inline-block;
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: #161507;
}

/* main container area beneath menu */
main {
    background: rgb(139, 109, 109);
    display: flex;
    margin-top: 20px;
}

.sidebar {
    margin-right: 25px;
    margin-left
    padding: 20px;
}

.sidebar-img {
    width: 200px;

}

.content {
    flex: 1;
    padding: 15px;
}

/* interests section styles */
#interests {
    border: 4px rgb(255, 255, 255) ridge;
    padding: 8px;
    margin-top: 20px;
}

h2, h3 {
    margin: 0px;
}

/* Portfolio styles */
.content h1 {
  color: rgb(0, 0, 0);
}

#portfolio {
  list-style-type: none;
  padding-left: 0;
}

#portfolio li {
  background: #f3ecec;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#portfolio li:hover {
  background: #e2dfdf;
}

#portfolio a {
  text-decoration: none;
  color: #774b4b;
}